@import '../../assets/theme/colors.scss';

.results-page-container {
  background: $gray-200;
  margin: 0 150px;
  min-height: 100vh;

  .product-list-container {
    background: $white;
    border-radius: 4px;

    .product-card-divider {
      width: 90%;
      margin: auto;
      border: $gray-200 1px solid;
    }
  }
}